// My Bootstrap configuration
    @import 'custom_bootstrap';
// Bootstrap library
    @import 'bootstrap/scss/bootstrap';

html,body {
   height:100%;
}

body > * {
  background-position: center;
}

h2, h4 {
text-align: center;

}

.photo-overlay {
  overflow: hidden;
  position: relative;
  /* Full height */
  height: 100vh;
  display: flex;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events:none;
    background: rgba(map-get($theme-colors, 'dark'), 0.5);
  }
}

.mapNameBg {
background-color: map-get($theme-colors, 'dark');
border-radius: 5px;
opacity: 0.75;
padding: 12px;
}

.mapName {
 font-size: 16px;
 font-color: map-get($theme-colors, 'light');
}

.bg-dark-opaque {
  background: rgba(map-get($theme-colors, 'primary'), 0.60);
  .btn {
  border-color: rgba(map-get($theme-colors, 'light'), 1);
  color: white;
  }
}

.tech {
height: 100px; 
width: auto;
}

#emailForm {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

.centered {
text-align: center
}
.modal-title {
color: black;
}
.loader {
clear: both;
}
.photoGrid {
text-align: center;
}
.text-shadow {
text-shadow: 2px 2px 8px black;
}
.text-shadow-small {
text-shadow: 2px 2px 4px black;
color: white;
}
